[#import "/util/freemarkerTemplate.html" as ft/]
[@ft.head title="freemarker模板" /]
<body>
<div id="wrapper">
    <!--左侧目录部分-->
    [@ft.nav /]

    <!--右侧内容部分开始-->
    <div id="page-wrapper" class="gray-bg">
        <!--头部分-->
        [@ft.border /]
        <!--内容部分-->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h1>
                            欢迎使用后台模板
                        </h1>
                        <small>
                            这是Controller传来的值---------
                            姓名:${name}
                            性别:
                            <#if sex==1>   <!--if中不能写成 ${sex}-->
                                男
                            </#if>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <!--尾部分-->
        [@ft.footer /]
    </div>
    <!--右侧内容部分结束-->
</div>

<!--引入js-->
[@ft.jqueryJs /]
[@ft.bootstrapJs /]
[@ft.metisMenuJs /]
[@ft.inspiniaJs /]
[@ft.paceJs /]
[@ft.toastrJs /]

[@ft.welcome /]

<!--同步官网模板--用户设置-->
[@ft.UserSettings /]
</body>
</html>